<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <br>
      <div class="align-div white-div">
        <br>
        <h3>Solicitud de Reparación</h3>
        <br>
          <mat-form-field>
            <input matInput [disabled]="visible" placeholder="Problema" [(ngModel)]="problema">
          </mat-form-field>
        <br>
        <br>
          <mat-form-field>
            <textarea matInput [disabled]="visible" placeholder="Detalle del problema" [(ngModel)]="detalle" rows="5"></textarea>
          </mat-form-field>
        <br>
      </div>
    </div>
    <div class="1">

    </div>
    <div class="col-md-5">
      <br>
      <div class="align-div white-div" *ngIf="visibleDiv">
        <br>
        <h3>Respuesta: </h3>
        <br>
          <mat-form-field>
            <input matInput placeholder="Titulo de Respuesta">
          </mat-form-field>
        <br>
          <mat-form-field>
            <textarea matInput placeholder="Cuerpo de Respuesta" rows="8"></textarea>
          </mat-form-field>
        <br>
          <button mat-raised-button color="primary" (click)="click()">
            Responder
          </button>
      </div>


      <div class="align-div white-div" *ngIf="!visibleDiv">
        <br>
        <div class="align-div white-div">
          <br>
          <br>
          <img src="assets/images/ok.png" class="img-responsive img-size" alt="">
          <br>
          <label class="bottom">Se ha respondido con éxito!</label>
          <br>
          <button mat-raised-button color="primary" [routerLink]="['/expert/request-response']">Volver a la lista</button>
        </div>
      </div>

    </div>
  </div>
</div>
