.white-div {
  background-color: white;
}

.white-title {
  color: white;
  margin-left: 22px;
}

.card-background {
  background-color: #777a77;
  color: white;
}

.orange-div {
  background-color: #ee7e0e;
  height: 45px;
  margin-top: -10px;
  margin-left: -15px;
  margin-right: -15px;
}

.rounded-card {
  border-radius: 25px;
}

.rounded-card2 {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.right {
  margin-right: 10px;
}

.top-margin {
  margin-top: -80px;
}

.card-size {
  width: 18rem;
}

.card-margin {
  margin: 15px;
}

.img-size {
  height: 120px;
  width: 286px;
}
