<div class="container">
  <div class="row">
    <div class="col" *ngFor="let producto of products">
      <div class="card card-size card-margin rounded-card">
          <img class="card-img-top img-responsive img-size" src="assets/images/bicicleta.png" alt="Card image cap">
        <div class="card-body card-background rounded-card2">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-center">{{ producto.nombre }}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <a (click)="openDialog(producto)" class="btn btn-outline-light btn-sm">Detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
