<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['request-response']">MasterBikes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['request-response']">Lista de Solicitudes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['stock']">Consulta de Stock</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/login']" type="submit" (click)="logout()">
        <i class="material-icons">
          power_settings_new
        </i>
      </button>
    </form>
  </div>
</nav>
