.align-header {
  margin-top: 70px;
  margin-right: 44px;
}

.align-div {
  margin-top: 20px;
}

.white-div {
  height: 450px;
  width: 350px;
  border-radius: 25%;
  background-color: white;
}

.bottom {
  margin-top: 40px;
}
