<div class="container white-div">
  <div class="row text-center">
    <div class="col">
        <br>
        <h3>Detalle de la solicitud: {{ idSolicitud }}</h3>
        <br>
        <mat-form-field>
          <input matInput [disabled]="visible" placeholder="Tipo de Solicitud" [(ngModel)]="tipoSolicitud">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [disabled]="visible" placeholder="Fecha ingreso" [(ngModel)]="fecha">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [disabled]="visible" placeholder="Estado de Solicitud" [(ngModel)]="estado">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="bottom" (click)="close()">
          Volver a la lista
        </button>
        <br>
    </div>
  </div>
</div>
