<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <br>
      <div class="align-div white-div">
        <br>
        <h3>Consulta de Stock:</h3>
        <br>
          <mat-form-field>
            <input matInput placeholder="Ingrese Id del Producto" [disabled]="visible" [(ngModel)]="idProducto">
          </mat-form-field>
        <br>
          <button mat-raised-button color="primary" (click)="onClick(); checkStock()" [disabled]="visible">
            Consultar
          </button>
        <br>
      </div>
    </div>
    <div class="1">

    </div>
    <div class="col-md-5">
      <br>
      <div class="align-div white-div" *ngIf="visible">
        <br>
        <h3>Stock de producto: {{ idProducto }}</h3>
        <br>
          <mat-form-field>
            <input matInput placeholder="Respuesta" [(ngModel)]="respuesta">
          </mat-form-field>
        <br>
          <button mat-raised-button color="primary" (click)="otraConsulta()">
            Realizar otra Busqueda
          </button>
        <br>
      </div>
    </div>
  </div>
</div>
