<div class="container white-div">
  <div class="row text-center">
    <div class="col">
        <br>
        <h3>Detalle del Producto:</h3>
        <br>
        <mat-form-field>
          <input matInput [disabled]="visible" placeholder="Nombre del Producto" [(ngModel)]="nombreProducto">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [disabled]="visible" placeholder="Precio del Producto" [(ngModel)]="precioProducto">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [disabled]="visible" placeholder="Stock del Producto" [(ngModel)]="stock">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="bottom" (click)="close()">
          Volver al Catálogo
        </button>
        <br>
    </div>
  </div>
</div>
