<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-4">

    </div>
    <div class="col-md-5">
      <br>
      <div class="align-div white-div" [formGroup]="form">
        <br>
        <h3>Registro de cliente:</h3>
        <br>
          <mat-form-field>
            <input matInput placeholder="Nombre Completo" formControlName="nombreCompleto">
          </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="correo">
        </mat-form-field>
      <br>
          <mat-form-field>
            <input matInput placeholder="Nombre de Usuario" formControlName="username">
          </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Contraseña" formControlName="password">
        </mat-form-field>
      <br>
          <button mat-raised-button color="primary" class="bottom" (click)="checkRegistry()">
            Registrar
          </button>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
