<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <br>
      <div class="align-div white-div">
        <br>
        <h3>Lista de Solicitudes</h3>
        <br>
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Id Solicitud</th>
                <th>Tipo de Solicitud</th>
                <th>Fecha de Ingreso</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of solicitudes" (click)="openDialog(solicitud)">
                <td>{{ solicitud.idSolicitud }}</td>
                <td>{{ solicitud.tipoSolicitud }}</td>
                <td>{{ solicitud.fechaIngreso }}</td>
              </tr>
            </tbody>
          </table>
          <br>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
