<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-6">
      <br>
      <div class="align-div white-div" [formGroup]="form">
        <br>
        <h3>Solicitud de Compra</h3>
        <br>
          <mat-form-field>
            <mat-select formControlName="tipoBicicleta" placeholder="Categoria" (selectionChange)="checkTipoBici()">
              <mat-option value="1">Bicicleta de montaña</mat-option>
              <mat-option value="2">Bicicleta de ruta</mat-option>
              <mat-option value="3">Bicicleta hibrida</mat-option>
              <mat-option value="4">Bicicleta urbana</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select formControlName="bicicleta" placeholder="Tipo de Producto" [disabled]="check">
              <mat-option *ngFor="let item of listaBicis" [value]="item.id">{{ item.bici }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
            <mat-form-field>
              <input matInput formControlName="arriendo" placeholder="Nombre Producto">
            </mat-form-field>
        <br>
          <mat-form-field>
            <mat-select formControlName="formaPago" placeholder="Forma de Pago">
              <mat-option value="1">Efectivo</mat-option>
              <mat-option value="2">WebPay</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="fechaEntrega" placeholder="Fecha de Entrega">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <br>
          <mat-form-field>
            <input matInput formControlName="garantia" placeholder="Deposito de Garantia">
          </mat-form-field>
        <br>
        <br>
          <button mat-raised-button color="primary" (click)="checkSolicitud()">
            Solicitar
          </button>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <div class="align-div white-div" *ngIf="rightDivVisible">
        <br>
        <br>
        <img src="assets/images/ok.png" class="img-responsive img-size" alt="">
        <br>
        <label class="bottom">Solicitud realizada con éxito!</label>
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/user/catalogue']">Volver al Catalogo</button>
      </div>
    </div>
  </div>
</div>
