.align-header {
  margin-top: 70px;
  margin-right: 44px;
}

.align-div {
  margin-top: 20px;
}

.white-div {
  height: 550px;
  width: 350px;
  border-radius: 10%;
  background-color: white;
}

.img-size {
  height: 250px;
  width: 250px;
}

.bottom {
  margin-top: 60px;
}
