<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-6">
      <br>
      <div class="align-div white-div" [formGroup]="form">
        <br>
        <h3>Solicitud de Reparación</h3>
        <br>
          <mat-form-field>
            <input matInput placeholder="Problema" formControlName="problema">
          </mat-form-field>
        <br>
          <mat-form-field>
            <textarea matInput placeholder="Detalle del problema" formControlName="detalle" rows="5"></textarea>
          </mat-form-field>
        <br>
          <button mat-raised-button color="primary" (click)="checkSolicitud()">
            Solicitar
          </button>
      </div>
    </div>
    <div class="col-md-6">
      <br>
      <div class="align-div white-div" *ngIf="visible">
        <br>
        <br>
        <img src="assets/images/ok.png" class="img-responsive img-size" alt="">
        <br>
        <label class="bottom">Solicitud realizada con éxito!</label>
        <br>
        <button mat-raised-button color="primary" [routerLink]="['/user/catalogue']">Volver al Catalogo</button>
      </div>
    </div>
  </div>
</div>
