<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <br>
      <div class="align-div white-div">
        <br>
        <h3>Lista de Solicitudes</h3>
        <br>
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Id Solicitud</th>
              <th>Tipo de Solicitud</th>
              <th>Fecha de Ingreso</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="redirect()">
              <td>2</td>
              <td>reparacion</td>
              <td>30/05</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
