<div class="container">
  <div class="row text-center">
    <br>
    <div class="col-md-4">

    </div>
    <div class="col-md-4" [formGroup]="form">
      <br>
      <div class="align-header">
        <h3 style="color: white">Mis Ofertas</h3>
      </div>
      <div class="align-div white-div">
          <mat-form-field>
            <input matInput placeholder="Usuario" formControlName="username">
          </mat-form-field>
        <br>
          <mat-form-field>
            <input type="password" matInput placeholder="Contraseña" formControlName="password">
          </mat-form-field>
        <br>
          <button mat-raised-button color="primary" (click)="onLogin(form)">
            Ingresar
          </button>
          <br>
          <br>
          <a [routerLink]="['/registry']">No tienes cuenta? Registrate aquí!</a>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
